:root {
    --Amarillo: #CF9D5B;
    --Azul1: #99F2F2;
    --Azul2: #68EBEB;
    --Azul3: #175C7C;
    --Azul4: #1A7B9A;
    --Azul5: #6CEAEB;
    --Blanco: #FFF;
    --Blanco2: #F0EDEA;
    --Gris: #595959;
    --Negro: #000;
}

* {
    font-family: 'Gulzar', serif;
}

body {
    margin: 0;
    padding: 0;
    grid-template-rows: 100px repeat(4, 1fr) 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.header {
    box-sizing: border-box;
    background-image: url("/IMG/BannerMoustache.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    display: grid;
    grid-template-rows: repeat(4, 25px);
    grid-template-columns: repeat(5, 1fr);
}

.header__img {
    filter: invert(1);
    width: 22vw;
    height: 25vw;
    grid-row: 1/4;
    grid-column: 2/3;
    margin: 0;
    padding: 0;
}

.header__containerTextos {
    font-size: 3.5vw;
    line-height: 0.5;
    grid-row: 2/4;
    grid-column: 3/6;
}

.header__h2 {
    color: var(--Blanco);
}

.header__span {
    color: var(--Blanco);
    display: inline-block;
}

.section {
    box-sizing: border-box;
    grid-row: 2 / 6;
    grid-column: 1 / 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.section__descripcion { /* ARTICLE DESCRIPCION */
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.section__descripcion-dibujo {
    background-color: var(--Azul1);
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section__descripcion-dibujo-img {
    
} */

.section__descripcion-descripcionPagina {
    background-color: var(--Azul2);
    color: var(--Azul4);
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
}

/* .section__descripcion-descripcionPagina-h2 {
    
} */

.section__descripcion-descripcionPagina-p {
    margin: 5px;
} 

.section__descripcion-descripcionPagina-button {
    background-color: var(--Azul4);
    color: var(--Blanco);
    border: 2px solid var(--Negro);
    border-radius: 5px;
    margin-top: 10px;
}

.section__informacion { /* ARTICLE INFORMACIÓN */
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.section__informacion-container {
    background-color: var(--Blanco2);
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    width: 100vw;
    height: 60vh;
}

.section__informacion-container-lecciones {
    text-align: center;
    padding: 10px;
}

.section__informacion-container-lecciones-i {
    font-size: 17vw;
}

.section__informacion-container-lecciones-div {
    line-height: 1.2;
}

.section__informacion-container-lecciones-div h3 {
    color: var(--Amarillo);
    margin: 0;
}

.section__informacion-container-certificado {
    text-align: center;
    padding: 10px;
}

.section__informacion-container-certificado-i {
    font-size: 17vw;
}

.section__informacion-container-certificado-div {
    line-height: 1.2;
}

.section__informacion-container-certificado-div h3 {
    color: var(--Amarillo);
    margin: 0;
}

.section__informacion-nuestroBlog {
    box-sizing: border-box;
    background-color: var(--Gris);
    color: var(--Blanco);
    line-height: 1.4;
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    width: 100vw;
    height: 40vh;
    text-align: center;
    padding: 2px 1px;
}

.section__informacion-nuestroBlog-h3 {
    margin: 1.5vw;
}

.section__informacion-nuestroBlog-p {
    margin: 1.5vw auto;
}

.section__informacion-nuestroBlog-button {
    background-color: var(--Azul5);
    margin: 1.5vw;
    padding: 0;
    width: 50vw;
    height: 10vw;
    border: 1px solid var(--Negro);
    border-radius: 5px;
}

.section__comentarios { /* ARTICLE COMENTARIOS */
    background-color: var(--Azul2);
    color: var(--Azul3);
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.section__comentarios-uno {
    border-bottom: solid 1px var(--Negro);
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    width: 100vw;
    height: 50vh;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section__comentarios-uno-img {
    width: 47%;
    margin: 2%;
    object-fit: cover;
    border-radius: 100%;
}

.section__comentarios-uno-p {
    line-height: 1.2;
    margin: 0;
}

.section__comentarios-uno-p-i {
    font-size: 6.5vw;
}

.section__comentarios-dos {
    border-bottom: solid 1px var(--Negro);
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    width: 100vw;
    height: 50vh;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section__comentarios-dos-img {
    width: 47%;
    margin: 2%;
    object-fit: cover;
    border-radius: 100%;
}

.section__comentarios-dos-p {
    line-height: 1.2;
    margin: 0;
}

.section__comentarios-dos-p-i {
    font-size: 6.5vw;
}

.footer {
    background-color: var(--Azul1);
    grid-row: 6 / 7;
    grid-column: 1 / 5;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.footer__redesSociales {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.footer__redesSociales-ul {
    padding: 0;
    margin: auto;
    font-size: 10vw;
}

.footer__redesSociales-ul li {
    list-style: none;
    display: inline-block;
    margin: 2px;
}

.footer__redesSociales-ul-a {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--Azul2);
    display: flex;
    background-color: var(--Blanco);
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
}

.footer__redesSociales-ul-i {
    padding: 0;
    margin: auto;
}

.footer__copyright {
    color: var(--Azul3);
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    line-height: 1;
}